# Git
.git
.gitignore
.gitattributes

# Node
node_modules
npm-debug.log
yarn-error.log
.npm

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
.venv
venv/
pip-log.txt
pip-delete-this-directory.txt

# IDEs
.vscode
.idea
*.sublime-project
*.sublime-workspace
.DS_Store

# Docs
README.md
DEPLOY-RAILWAY.md

# CI/CD
.github
.gitlab-ci.yml
.travis.yml

# Coverage
.coverage
.nyc_output
coverage

# Misc
.env
.env.*
*.log
.cache
