INGEST_API_URL=http://localhost:3000
ONVIF_CONFIG=./config.json
LOG_LEVEL=INFO
PULL_TIMEOUT_SECONDS=10
MESSAGE_LIMIT=10
RECONNECT_SECONDS=5
ONVIF_REMOTE=false
COLLECTOR_KEY=
CLIENT_ID=
REMOTE_REFRESH_SECONDS=60
